<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>875826415819-qqb0m1tk5kqcrhlvbangmktmc54kckfg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.875826415819-qqb0m1tk5kqcrhlvbangmktmc54kckfg</string>
	<key>API_KEY</key>
	<string>AIzaSyBsnZ-DImpq7LdrbHYB12SzEqMn69m4rLk</string>
	<key>GCM_SENDER_ID</key>
	<string>875826415819</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>PML.SocialCademy</string>
	<key>PROJECT_ID</key>
	<string>socialcademy-55487</string>
	<key>STORAGE_BUCKET</key>
	<string>socialcademy-55487.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:875826415819:ios:50051690f7d7379888334e</string>
</dict>
</plist>